<div class="decorations hero__decorations">
  <img
    class="svg svg--golden decorations__item decorations__garlic"
    src="./img/svg/garlic1.svg"
    alt=""
  />
  <img
    class="svg svg--golden decorations__item decorations__leaf"
    src="./img/svg/leaf1.svg"
    alt=""
  />
  <img
    class="svg svg--golden decorations__item decorations__peppers"
    src="./img/svg/peppers.svg"
    alt=""
  />
  <img
    class="svg svg--golden decorations__item decorations__tomato1"
    src="./img/svg/tomato1.svg"
    alt=""
  /><img
    class="svg svg--golden decorations__item decorations__tomato2"
    src="./img/svg/tomato1.svg"
    alt=""
  /><img
    class="svg svg--golden decorations__item decorations__tomato3"
    src="./img/svg/tomato1.svg"
    alt=""
  /><img
    class="svg svg--golden decorations__item decorations__tomato4"
    src="./img/svg/tomato1.svg"
    alt=""
  />
  <img
    class="svg svg--golden decorations__item decorations__tomato"
    src="./img/svg/tomato2.svg"
    alt=""
  />
</div>
