<footer>
  <section class="block block--dark footer-block">
    <div class="block__bg"></div>
    <div class="block__content">
      <div class="footer-block__container">
        <div class="footer-block__info">
          <div class="info">
            <h4 class="info__title">Title Here</h4>
            <p class="info__text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Accusantium autem eius ipsum molestias cupiditate, perspiciatis
              nostrum.
            </p>
          </div>
          <div class="footer-block__social-media-links">
            <a href="#" class="link"
              ><img
                class="icon icon--white"
                src="./img/svg/facebook.svg"
                alt="facebook.com"
            /></a>
            <a href="#" class="link"
              ><img
                class="icon icon--white"
                src="./img/svg/whatsapp.svg"
                alt="whatsapp.com"
            /></a>
            <a href="#" class="link"
              ><img
                class="icon icon--white"
                src="./img/svg/instagram.svg"
                alt="instagram.com"
            /></a>
            <a class="link" href="#"
              ><img
                class="icon icon--white"
                src="./img/svg/twitter.svg"
                alt="twitter.com"
            /></a>
          </div>
        </div>

        <div class="footer-block__links">
          <ul class="list">
            <h4 class="list__title">About</h4>
            <li class="list__item"><a class="link" href="#">History</a></li>
            <li class="list__item">
              <a class="link" href="#">Our Team</a>
            </li>
            <li class="list__item">
              <a class="link" href="#">Brand Guidelines</a>
            </li>
            <li class="list__item">
              <a class="link" href="#">Terms & Condition</a>
            </li>
            <li class="list__item">
              <a class="link" href="#">Privacy Policy</a>
            </li>
          </ul>
          <ul class="list">
            <h4 class="list__title">Services</h4>
            <li class="list__item">
              <a class="link" href="#">How to Order</a>
            </li>
            <li class="list__item">
              <a class="link" href="#">Our Product</a>
            </li>
            <li class="list__item">
              <a class="link" href="#">Order Status</a>
            </li>
            <li class="list__item">
              <a class="link" href="#">Promo</a>
            </li>
            <li class="list__item">
              <a class="link" href="#">Payment Method</a>
            </li>
          </ul>
          <ul class="list">
            <h4 class="list__title">Others</h4>
            <li class="list__item">
              <a class="link" href="#">Contact Us</a>
            </li>
            <li class="list__item"><a class="link" href="#">Help</a></li>
            <li class="list__item">
              <a class="link" href="#">Privacy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
