<section class="block block--dark hero">
  <div class="block__bg hero__bg">
    <picture>
      <source
        type="image/webp"
        srcset="
          img/webp/hero.webp     480w,
          img/webp/hero@2x.webp  960w,
          img/webp/hero@3x.webp 1440w,
          img/webp/hero@4x.webp 1920w,
          img/webp/hero@5x.webp 2400w
        "
      />
      <source
        type="image/jpg"
        srcset="
          img/jpg/hero.jpg     480w,
          img/jpg/hero@2x.jpg  960w,
          img/jpg/hero@3x.jpg 1440w,
          img/jpg/hero@4x.jpg 1920w,
          img/jpg/hero@5x.jpg 2400w
        "
      />
      <img
        class="picture hero__picture"
        src="img/jpg/hero@3x.jpg"
        alt="Hero Image"
      />
    </picture>
    <div class="hero__svg">
      <img class="svg svg--dark" src="./img/svg/bg1.svg" alt="" />
    </div>
    <div class="box box--dark hero__box"></div>
  </div>
  <div class="block__content hero__content">
    <div class="header">
      <div class="logo">
        <img
          class="icon icon--white"
          src="./img/svg/logo.svg"
          alt="Good Food Logo"
        />
        <div class="logo__text">Good Food</div>
      </div>
      <div class="menu">
        <div class="collapsible menu__collapsible">
          <div
            onclick="toggleExtension('searchInput')"
            class="collapsible__trigger menu__btn"
          >
            <img
              class="icon icon--white icon--golden-onhover"
              src="./img/svg/menu.svg"
              alt=""
            />
          </div>
          <div id="searchInput" class="collapsible__extension">
            <ul class="list menu__list">
              <li class="list__item">Home</li>
              <li class="list__item">Product</li>
              <li class="list__item">Promo</li>
              <li class="list__item">About</li>
              <li class="list__item">Contact</li>
              <div
                class="list__item menu__search collapsible collapsible--horizontal"
              >
                <div id="searchMenu" class="collapsible__extension">
                  <input
                    class="input"
                    type="text"
                    size="20"
                    id="search"
                    placeholder="Search..."
                  />
                </div>
                <div
                  onclick="toggleExtension('searchMenu')"
                  class="collapsible__trigger"
                >
                  <img
                    class="icon icon--white icon--golden-onhover"
                    src="./img/svg/search.svg"
                    alt=""
                  />
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="callout">
      <div class="info">
        <h1 class="info__title">Hello there!</h1>
        <p class="info__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          ducimus modi excepturi delectus accusantium sequi saepe!
        </p>
      </div>
      <button class="btn btn--primary btn--nowrap callout__btn">
        Order Now
      </button>
    </div>
  </div>
</section>
