<div class="info">
  <h1 class="info__title">Title Here</h1>
  <p class="info__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque suscipit
    delectus dicta dolorum quidem blanditiis sed rerum id architecto laborum
    sint, exercitationem corporis distinctio nulla, iure numquam eius ipsum
    consequuntur expedita odio? Laboriosam dolores quas ducimus recusandae
    commodi, a totam reprehenderit assumenda doloribus sed dolorum sit enim
    quidem ratione harum!
  </p>
</div>
