<div class="menu">
  <div class="collapsible menu__collapsible">
    <div
      onclick="toggleExtension('extendedMenu')"
      class="collapsible__trigger menu__btn menu__btn--right"
    >
      <img class="icon icon--white" src="./img/svg/menu.svg" alt="" />
    </div>
    <div
      id="extendedMenu"
      class="collapsible__extension menu__panel menu__panel--right"
    >
      <ul class="list list--right-vertical menu__list">
        <li class="list__item list__item--btn">Home</li>
        <li class="list__item list__item--btn">Product</li>
        <li class="list__item list__item--btn">Promo</li>
        <li class="list__item list__item--btn">About</li>
        <li class="list__item list__item--btn">Contact</li>
        <div
          class="list__item collapsible collapsible--horizontal menu__search"
        >
          <div
            id="searchMenu"
            class="collapsible__extension collapsible__extension--always-extended"
          >
            <input
              class="input"
              type="text"
              id="subscribe"
              placeholder="Search..."
            />
          </div>
          <div
            onclick="toggleExtension('searchMenu')"
            class="collapsible__trigger"
          >
            <img class="icon icon--white" src="./img/svg/search.svg" alt="" />
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
