<picture>
  <source
    type="image/webp"
    srcset="
      img/webp/hero.webp     480w,
      img/webp/hero@2x.webp  960w,
      img/webp/hero@3x.webp 1440w,
      img/webp/hero@4x.webp 1920w,
      img/webp/hero@5x.webp 2400w
    "
  />
  <source
    type="image/jpg"
    srcset="
      img/jpg/hero.jpg     480w,
      img/jpg/hero@2x.jpg  960w,
      img/jpg/hero@3x.jpg 1440w,
      img/jpg/hero@4x.jpg 1920w,
      img/jpg/hero@5x.jpg 2400w
    "
  />
  <img
    class="picture picture--round picture--normal"
    src="img/jpg/hero@3x.jpg"
    alt="Hero Image"
  />
</picture>
