<section class="block block--dark stats-block">
  <div class="block__bg"></div>
  <div class="block__content">
    <div class="info">
      <h1 class="info__title info__text--centered">Statistics</h1>
      <p class="info__text info__text--centered">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium cum
        laborum perspiciatis corrupti dignissimos.
      </p>
    </div>
    <div class="stats-block__figures">
      <div class="stats">
        <div class="stats__number">123</div>
        <div class="stats__type">Outlets</div>
      </div>
      <div class="stats">
        <div class="stats__number">100</div>
        <div class="stats__type">Chefs</div>
      </div>
      <div class="stats">
        <div class="stats__number">300</div>
        <div class="stats__type">Menus</div>
      </div>
      <div class="stats">
        <div class="stats__number">50</div>
        <div class="stats__type">Countries</div>
      </div>
    </div>
  </div>
</section>
