<section class="block block--white subscribe-block">
  <div class="block__bg"></div>
  <div class="block__content">
    <div class="info">
      <h1 class="info__title info__title--centered info__title--secondary">
        Subscribe
      </h1>
      <p class="info__text info__text--centered info__text--secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ex
        molestias impedit laudantium assumenda!
      </p>
    </div>
    <div
      id="inputGroupOrder"
      onclick="styleInputGroupOnFocus('inputGroupOrder','inputOrder','sendOrder')"
      class="input-group"
    >
      <input
        id="inputOrder"
        class="input"
        size="1"
        type="text"
        id="subscribe"
        placeholder="Your Email"
      />
      <button id="sendOrder" class="btn btn--primary btn--nowrap">
        Order Now
      </button>
    </div>
  </div>
</section>
