@font-face {
  font-family: "Grandhotel";
  src: url("./../fonts/grandhotel-regular.woff2") format("woff2"),
    url("./../fonts/grandhotel-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts//roboto-light.woff2") format("woff2"),
    url("./../fonts//roboto-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./../fonts/roboto-medium.woff2") format("woff2"),
    url("./../fonts/roboto-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #333333;
  --primary-color-lighter: hsl(0, 0%, 30%);
  --secondary-color: #fff;
  --secondary-color-darker: #eee;
  --heading-color: #ffc200;
  --heading-color-darker: hsl(46, 100%, 40%);
  --body-text-color: #fff;
  --primary-shadow-color: rgba(0, 0, 0, 0.1);
  --secondary-shadow-color: rgba(0, 0, 0, 0.2);
  --transparent-primary-color: rgba(51, 51, 51, 0.8);
  --transition-time: 0.2s;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/********** #TYPOGRAPHY **********/

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: calc(13px + 1vw);
  /*Font size is not set to a rem unit because the client settings (browser font size) can affect the layout too much.*/
  /*For that reason, font size is calculated as a smooth transition between the mobile layout and desktop layout as follow:
    - for a width of 320px, font-size is set to 16px (13px + 1% of 320px)
    - for a width of 1023px, font-size is set to approximate the desktop font-size (13px + 1% of 1023px ~= 2.3% of 1024px)
  Computing position is done similarly using a system with 2 linear equation and 2 unknowns.
    */
  color: var(--body-text-color);
  background-color: var(--secondary-color-darker);
  line-height: 1.5;
  letter-spacing: 1px;
}

h1 {
  font-size: calc(33px + 7vw);
}

h2 {
  font-size: calc(19px + 5vw);
}

h3 {
  font-size: 3.5rem;
}

h4 {
  /* font-size: 2.8rem; */
  font-size: calc(32px + 0.9vw);
}

h1,
h2,
h3,
h4 {
  font-family: Grandhotel, cursive;
  color: var(--heading-color);
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
  max-width: 50ch;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 10.2vw;
  }

  h3 {
    font-size: 5rem;
  }

  h4 {
    font-size: 3.5rem;
  }

  body {
    font-size: 2.3vw;
  }
}

@media screen and (min-width: 1920px) {
  h3 {
    font-size: 6rem;
  }

  h4 {
    font-size: 4rem;
  }

  /* body {
    font-size: 3.5rem;
  } */
}

/********** #BUTTONS **********/
.btn {
  border-radius: 3px;
  border: 0;
  box-shadow: 0 0 10px var(--primary-shadow-color);
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0.8rem 3rem;
  text-transform: uppercase;
  transition: var(--transition-time);
  width: fit-content;
  height: fit-content;
}

.btn:hover {
  box-shadow: 0 0 15px var(--secondary-shadow-color);
}

.btn--primary {
  background-color: var(--heading-color);
  color: var(--primary-color);
}

.btn--primary:hover {
  background-color: var(--heading-color-darker);
}

.btn--nowrap {
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .btn {
    border-radius: 5px;
    padding: 1.6rem 6rem;
  }
}

@media screen and (min-width: 1920px) {
  .btn {
    padding: 2.1rem 10rem;
  }
}

/********** #LISTS **********/

.list {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  list-style-type: none;
}

.list--horizontal {
  display: inline-flex;
  flex-direction: row;
}

.list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********** #INFO **********/

.info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
.info--reverse {
  flex-direction: column-reverse;
}

.info__title {
  color: var(--heading-color);
  white-space: nowrap;
}

.info__title--centered {
  align-self: center;
}

.info__title--secondary {
  color: var(--primary-color);
}

.info__text {
  color: var(--body-text-color);
}

.info__text--secondary {
  color: var(--primary-color);
}

.info__text--centered {
  align-self: center;
  text-align: center;
}

/********** #PICTURES **********/
.picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.picture--normal {
  width: calc(36px + 35.5vw);
  height: calc(36px + 35.5vw);
}

.picture--small {
  width: calc(204px + 14.2vw);
  height: calc(204px + 14.2vw);
}

.picture--round {
  border-radius: 100%;
}

@media screen and (min-width: 1024px) {
  .picture--normal {
    width: calc(172px + 22.3vw);
    height: calc(172px + 22.3vw);
  }

  .picture--small {
    width: calc(29px + 16.7vw);
    height: calc(29px + 16.7vw);
  }
}

/********** #CARDS **********/

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(255px + 14.2vw);
}

.card .info__text {
  font-size: calc(15px + 0.5vw);
}

.card--small .info__text {
  max-width: calc(204px + 14.2vw);
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: calc(172px + 22.3vw);
  }
  .card--small .info__text {
    max-width: calc(29px + 16.7vw);
  }
}

/********** #STATS **********/

.stats {
  width: calc(204px + 14.2vw);
  height: calc(204px + 14.2vw);
  border: 5px solid white;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}
.stats__number {
  font-size: calc(56px + 4.3vw);
  color: var(--heading-color);
}
.stats__type {
  font-size: calc(28px + 2.1vw);
  color: var(--body-text-color);
}

@media screen and (min-width: 1024px) {
  .stats {
    width: calc(29px + 16.7vw);
    height: calc(29px + 16.7vw);
  }

  .stats__number {
    font-size: calc(14px + 4.5vw);
  }
  .stats__type {
    font-size: calc(2.8vw - 4px);
  }
}

/********** #INPUTS **********/

.input {
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.05);
  font-weight: lighter;
  margin: 0;
  outline: 0;
  padding: 0.8rem 2.5rem;
  transition: var(--transition-time);
  width: 100%;
}

::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.input:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.15);
}

.input-group {
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: none;
  transition: var(--transition-time);
  width: 100%;
  height: 100%;
  display: flex;
}

.input-group .input {
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}

.input-group .input:focus {
  border: 0;
  box-shadow: none;
}

.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1024px) {
  .input {
    border-radius: 5px;
  }

  .input-group {
    border-radius: 5px;
  }
}

/********** #CALLOUT **********/
.callout {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: fit-content;
  height: fit-content;
}

.callout--centered {
  align-items: center;
}
/* 
.callout__btn {
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.callout__text {
  margin-left: 1rem;
} */

@media screen and (min-width: 1024px) {
  /* .callout__btn {
    margin-top: 2.5rem;
    margin-left: 1.5rem;
  }

  .callout__text {
    margin-left: 1.5rem;
  } */
}

@media screen and (min-width: 1920px) {
  /* .callout__btn {
    margin-top: 4.5rem;
    margin-left: 3rem;
  }

  .callout__text {
    margin-left: 3rem;
  } */
}

/********** #ICON **********/
.icon {
  height: 3.8rem;
  border-radius: 3px;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  cursor: pointer;
}

.icon--white {
  filter: invert(100%) sepia(95%) saturate(2%) hue-rotate(36deg)
    brightness(104%) contrast(101%);
}

.icon--golden {
  filter: invert(73%) sepia(77%) saturate(2401%) hue-rotate(3deg)
    brightness(106%) contrast(111%);
}

.icon--border-onhover:hover {
  border: 2px solid black;
}

.icon--golden-onhover:hover {
  filter: invert(73%) sepia(77%) saturate(2401%) hue-rotate(3deg)
    brightness(106%) contrast(111%);
}

@media screen and (min-width: 1024px) {
  .icon {
    border-radius: 5px;
    height: 4rem;
  }
}

@media screen and (min-width: 1920px) {
  .icon {
    height: 5rem;
  }
}

/********** #COLLAPSIBLE **********/

.collapsible {
  width: fit-content;
  height: fit-content;
}

.collapsible--horizontal {
  display: inline-flex;
  align-items: center;
}

.collapsible__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.collapsible__trigger:hover {
  cursor: pointer;
}

.collapsible__extension {
  display: none;
}

.collapsible__extension--extended {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsible__extension--always-extended {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********** #MENU **********/
.menu {
  width: fit-content;
  height: fit-content;
  background-color: var(--transparent-primary-color);
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 10px 10px var(--primary-shadow-color);
}

.menu__collapsible {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list .list__item {
  border: 2px solid transparent;
  width: 25rem;
  height: 5rem;
  border-radius: 3px;
}

.menu__list .list__item:hover {
  border: 2px solid var(--heading-color);
  color: var(--heading-color);
  cursor: pointer;
}

.menu__list .menu__search:hover {
  border: 2px solid transparent;
}

.menu__search .collapsible__extension {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .menu {
    border-bottom-left-radius: 5px;
  }

  .menu__btn {
    display: none;
  }

  .menu__list {
    flex-direction: row;
  }

  .menu__list .list__item {
    height: 4rem;
    width: 8.9vw;
    margin-inline: 0.1vw;
  }

  .menu__list .menu__search {
    width: fit-content;
  }

  .menu__collapsible .collapsible__extension {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__search .collapsible__extension {
    display: none;
  }

  .menu__search .collapsible__extension--extended {
    display: flex;
    justify-content: right;
    align-items: center;
  }
}

@media screen and (min-width: 1920px) {
  .menu__list .list__item {
    height: 7rem;
  }

  .menu__list .menu__search {
    width: fit-content;
  }
}

/********** #LOGO **********/

.logo {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.logo__text {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 1.5rem;
}

/********** #HEADER **********/
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .menu {
  position: absolute;
  top: 0;
  right: 0;
}

/********** #BOX **********/

.box {
  width: 100%;
  height: 100%;
  background-color: black;
}

.box--dark {
  background-color: var(--primary-color);
}

.box--white {
  background-color: var(--secondary-color-darker);
}

/********** #SVG **********/
.svg {
  width: 100%;
  height: 100%;
}

.svg--dark {
  filter: invert(0%) sepia(9%) saturate(5477%) hue-rotate(14deg) brightness(95%)
    contrast(60%);
}

.svg--golden {
  filter: invert(73%) sepia(77%) saturate(2401%) hue-rotate(3deg)
    brightness(106%) contrast(111%);
}

/********** #DECORATIONS **********/
.decorations {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.decorations__item {
  position: absolute;
  width: calc(28px + 7.2vw);
  height: calc(28px + 7.2vw);
}

.decorations__garlic {
  top: 87%;
  left: 70%;
}
.decorations__leaf {
  transform: scaleX(-1);
  top: calc(56.9vw + 118px);
  left: calc(-6px - 3vw);
}
.decorations__peppers {
  transform: scaleX(-1);
  top: 50vw;
  left: 25vw;
}

.decorations__tomato {
  left: 20vw;
  bottom: calc(-31px - 2.8vw);
}

.decorations__tomato1,
.decorations__tomato2,
.decorations__tomato3,
.decorations__tomato4 {
  width: calc(16px + 1vw);
  height: calc(16px + 1vw);
}

.decorations__tomato1 {
  top: calc(16px + 51vw);
  left: 17%;
}
.decorations__tomato2 {
  top: 97.5%;
  left: 50%;
}
.decorations__tomato3 {
  top: 93%;
  left: 0%;
}
.decorations__tomato4 {
  top: calc(67px + 54vw);
  left: calc(113px + 42.6vw);
}

@media screen and (min-width: 1024px) {
  .decorations__garlic {
    top: 60%;
    left: 90%;
  }
  .decorations__leaf {
    transform: scaleX(-1);
    top: 35%;
    left: 43%;
  }
  .decorations__peppers {
    transform: scaleX(-1);
    top: 8%;
    left: 75%;
  }

  .decorations__tomato {
    left: 55%;
    top: 77%;
  }

  .decorations__tomato1,
  .decorations__tomato2,
  .decorations__tomato3,
  .decorations__tomato4 {
    width: 3vw;
    height: 3vw;
  }

  .decorations__tomato1 {
    top: 43%;
    left: 99%;
  }
  .decorations__tomato2 {
    top: 15%;
    left: 50%;
  }
  .decorations__tomato3 {
    top: 60%;
    left: 45%;
  }
  .decorations__tomato4 {
    top: 80%;
    left: 80%;
  }
}

/********** #BLOCKS **********/
.block {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.block--dark {
  background-color: var(--primary-color);
}

.block--white {
  background-color: var(--secondary-color-darker);
}

.block__bg {
  width: 100%;
  height: fit-content;
}

.block__content {
  position: absolute;
  width: 90%;
  height: 95%;
}

/********** #HERO **********/
.hero .menu {
  z-index: 3;
}

.hero__picture {
  transform: scale(-1);
}

.hero__svg {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

.hero__svg .svg {
  translate: 0 -40%;
  height: 105vw;
  rotate: -90deg;
}

.hero__content .callout {
  position: absolute;
  margin-right: 5vw;
  bottom: 5vw;
  left: 7vw;
}

@media screen and (min-width: 1024px) {
  .hero .menu {
    box-shadow: none;
  }

  .hero__picture {
    translate: -10% 0;
  }

  .hero__svg {
    background-color: var(--primary-color);
    height: 100%;
    width: 25vw;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
  }

  .hero__svg .svg {
    transform: scaleX(-1);
    rotate: 0deg;
    height: 110%;
    width: 100vw;
    translate: -70% 0;
  }

  .hero__content .callout {
    bottom: auto;
    left: 55%;
    top: 23%;
  }
}

/********** #DISH-BLOCK **********/

.dish-block .block__bg {
  position: absolute;
}

.dish-block .block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  margin: 5% 0;
  margin-top: 10%;
}

.dish-block__options {
  margin-top: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dish-block__options .card {
  margin: 7% 0;
}

.dish-block__picture2 {
  object-position: right 0rem;
}

@media screen and (min-width: 1024px) {
  .dish-block__options {
    flex-direction: row;
    justify-content: space-around;
  }
}

/********** #STATS-BLOCK **********/

.stats-block .block__bg {
  position: absolute;
}

.stats-block .block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  margin: 5% 0;
}

.stats-block__figures {
  margin-top: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stats-block__figures .stats {
  margin: 7% 0;
}

@media screen and (min-width: 1024px) {
  .stats-block__figures {
    flex-direction: row;
    justify-content: space-around;
  }
}

/********** #ORIENTAL-BLOCK **********/

.oriental-block__box1 {
  height: calc(93px + 40.9vw);
}
.oriental-block__box2 {
  height: calc(141px + 6.4vw);
}

.oriental-block__svg {
  position: absolute;
  height: 100vw;
  width: 100vw;
  rotate: -90deg;
  transform: scaleY(-1.1);
}

.oriental-block .block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.oriental-block .picture {
  margin-left: 40vw;
}

.oriental-block .callout {
  margin-bottom: 10vw;
}

@media screen and (min-width: 1024px) {
  .oriental-block {
    height: 55vw;
  }

  .oriental-block .block__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .oriental-block .picture {
    margin-left: 0;
    margin-top: calc(31.8vw - 226px);
  }

  .oriental-block .callout {
    margin-left: 10vw;
    margin-top: calc(31.8vw - 226px);
    margin-bottom: 0;
  }
}

/********** #GRILL-BLOCK **********/

.grill-block {
  transform: scale(-1, -1);
}

.grill-block__box1 {
  height: calc(93px + 40.9vw);
}
.grill-block__box2 {
  height: calc(141px + 6.4vw);
}

.grill-block__svg {
  position: absolute;
  height: 100vw;
  width: 100vw;
  rotate: -90deg;
  transform: scaleY(-1.1);
}

.grill-block .block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.grill-block .picture {
  margin-left: 40vw;
  margin-top: 5vw;
  object-fit: none;
  object-position: 75%;
}

.grill-block .callout {
  transform: scale(-1, -1);
}

@media screen and (min-width: 1024px) {
  .grill-block {
    height: 55vw;
  }

  .grill-block .block__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .grill-block .picture {
    margin-left: 0;
    margin-top: calc(31.8vw - 226px);
  }

  .grill-block .callout {
    margin-left: 10vw;
  }
}

/********** #COMMENT-BLOCK **********/

.comment__layer {
  background-color: rgba(255, 196, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.comment--block .info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
