@import "./normalize.css";

@font-face {
  font-family: "Grandhotel";
  src: url("./../fonts/grandhotel-regular.woff2") format("woff2"),
    url("./../fonts/grandhotel-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

:root {
  --primary-color: #333333;
  --primary-color-lighter: hsl(0, 0%, 30%);
  --secondary-color: #fff;
  --secondary-color-darker: #eee;
  --heading-color: #ffc200;
  --heading-color-darker: hsl(46, 100%, 40%);
  --body-text-color: #fff;
  --primary-shadow-color: rgba(0, 0, 0, 0.1);
  --secondary-shadow-color: rgba(0, 0, 0, 0.2);
  --transparent-primary-color: rgba(51, 51, 51, 0.4);
  --transparent-secondary-color: rgba(51, 51, 51, 0.9);
  --transition-time: 0.2s;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/********** #SCROLLBAR **********/

::-webkit-scrollbar {
  min-width: 10px;
  width: 1vw;
}
::-webkit-scrollbar-track {
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5vw;
  transition: var(--transition-time);
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/********** #TYPOGRAPHY **********/

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: calc(8px + 2.3vw);
  color: var(--body-text-color);
  background-color: var(--secondary-color-darker);
  line-height: 1.5;
  letter-spacing: 1px;
}

h1 {
  font-size: calc(27px + 5.7vw);
}

h2 {
  font-size: calc(20px + 5.1vw);
}

h3 {
  font-size: calc(21px + 1.4vw);
}

h1,
h2,
h3 {
  font-family: "Grandhotel", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--heading-color);
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 0;
  max-width: 50ch;
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/********** #BUTTONS **********/
.btn {
  border-radius: 3px;
  border: 0;
  box-shadow: 0 0 10px var(--primary-shadow-color);
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0.8rem 3rem;
  text-transform: uppercase;
  transition: var(--transition-time);
  width: fit-content;
  height: fit-content;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover {
  box-shadow: 0 0 15px var(--secondary-shadow-color);
}

.btn--primary {
  background-color: var(--heading-color);
  color: var(--primary-color);
}

.btn--primary:hover {
  background-color: var(--heading-color-darker);
}

.btn--nowrap {
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .btn {
    border-radius: 5px;
    padding: 1.6rem 6rem;
  }
}

@media screen and (min-width: 1920px) {
  .btn {
    padding: 2.1rem 10rem;
  }
}

/********** #LISTS **********/

.list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  list-style-type: none;
}

.list--horizontal {
  display: inline-flex;
  flex-direction: row;
}

.list__title {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********** #LINKS **********/
.link {
  color: white;
  text-decoration: none;
}

/********** #INFO **********/

.info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
.info--reverse {
  flex-direction: column-reverse;
}

.info__title {
  color: var(--heading-color);
  white-space: nowrap;
}

.info__title--centered {
  align-self: center;
}

.info__title--secondary {
  color: var(--primary-color);
}

.info__text {
  color: var(--body-text-color);
}

.info__text--secondary {
  color: var(--primary-color);
}

.info__text--centered {
  align-self: center;
  text-align: center;
}

/********** #PICTURES **********/
.picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.picture--normal {
  width: calc(36px + 35.5vw);
  height: calc(36px + 35.5vw);
}

.picture--small {
  width: calc(204px + 14.2vw);
  height: calc(204px + 14.2vw);
}

.picture--round {
  border-radius: 100%;
}

@media screen and (min-width: 1024px) {
  .picture--normal {
    width: calc(172px + 22.3vw);
    height: calc(172px + 22.3vw);
  }

  .picture--small {
    width: calc(29px + 16.7vw);
    height: calc(29px + 16.7vw);
  }
}

/********** #CARDS **********/

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(255px + 14.2vw);
}

.card .info__text {
  font-size: calc(15px + 0.7vw);
}

.card--small .info__text {
  max-width: calc(204px + 14.2vw);
}

@media screen and (min-width: 1024px) {
  .card {
    max-width: calc(172px + 22.3vw);
  }
  .card--small .info__text {
    max-width: calc(29px + 20.7vw);
  }
}

/********** #STATS **********/

.stats {
  width: calc(204px + 14.2vw);
  height: calc(204px + 14.2vw);
  border: 5px solid white;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}
.stats__number {
  font-size: calc(56px + 4.3vw);
  color: var(--heading-color);
}
.stats__type {
  font-size: calc(28px + 2.1vw);
  color: var(--body-text-color);
}

@media screen and (min-width: 1024px) {
  .stats {
    width: calc(29px + 16.7vw);
    height: calc(29px + 16.7vw);
  }

  .stats__number {
    font-size: calc(14px + 4.5vw);
  }
  .stats__type {
    font-size: calc(2.8vw - 4px);
  }
}

/********** #INPUTS **********/

.input {
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.05);
  font-weight: lighter;
  margin: 0;
  outline: 0;
  padding: 0.8rem 2.5rem;
  transition: var(--transition-time);
  width: 100%;
}

::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.input:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.15);
}

.input-group {
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: none;
  transition: var(--transition-time);
  width: 100%;
  height: fit-content;
  display: flex;
}

.input-group .input {
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
}

.input-group .input:focus {
  border: 0;
  box-shadow: none;
}

.input-group .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group:focus-within {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.05);
}

@media screen and (min-width: 1024px) {
  .input {
    border-radius: 5px;
  }

  .input-group {
    border-radius: 5px;
  }
}

/********** #CALLOUT **********/
.callout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
}

.callout--centered {
  align-items: center;
}

.callout__btn {
  margin-top: 1rem;
  margin-left: 1vw;
}

.callout__text {
  margin-left: 1vw;
}

/********** #ICON **********/
.icon {
  width: 38px;
  height: 38px;
  border-radius: 3px;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon:hover {
  cursor: pointer;
}

.icon--white {
  filter: invert(100%) sepia(95%) saturate(2%) hue-rotate(36deg)
    brightness(104%) contrast(101%);
}

.icon--golden {
  filter: invert(73%) sepia(77%) saturate(2401%) hue-rotate(3deg)
    brightness(106%) contrast(111%);
}

.icon--border-onhover:hover {
  border: 2px solid black;
}

.icon--golden-onhover:hover {
  filter: invert(73%) sepia(77%) saturate(2401%) hue-rotate(3deg)
    brightness(106%) contrast(111%);
}

@media screen and (min-width: 1024px) {
  .icon {
    border-radius: 5px;
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .icon {
    height: 50px;
    width: 50px;
  }
}

/********** #COLLAPSIBLE **********/

.collapsible {
  width: fit-content;
  height: fit-content;
}

.collapsible--horizontal {
  display: inline-flex;
  align-items: center;
}

.collapsible__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.collapsible__trigger:hover {
  cursor: pointer;
}

.collapsible__extension {
  display: none;
}

.collapsible__extension--extended {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsible__extension--always-extended {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********** #MENU **********/
.menu {
  width: fit-content;
  height: fit-content;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 10px 10px var(--primary-shadow-color);
  background-color: var(--transparent-secondary-color);
}

.menu__collapsible {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list .list__item {
  border: 2px solid transparent;
  width: 25rem;
  height: 5rem;
  border-radius: 3px;
}

.menu__list .list__item:hover {
  border: 2px solid var(--heading-color);
  color: var(--heading-color);
  cursor: pointer;
}

.menu__list .menu__search:hover {
  border: 2px solid transparent;
}

.menu__search .collapsible__extension {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .menu {
    border-bottom-left-radius: 5px;
    background-color: transparent;
  }

  .menu__btn {
    display: none;
  }

  .menu__list {
    flex-direction: row;
  }

  .menu__list .list__item {
    height: 4rem;
    width: 8.9vw;
    margin-inline: 0.1vw;
  }

  .menu__list .menu__search {
    width: fit-content;
  }

  .menu__collapsible .collapsible__extension {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__search .collapsible__extension {
    display: none;
  }

  .menu__search .collapsible__extension--extended {
    display: flex;
    justify-content: right;
    align-items: center;
  }
}

@media screen and (min-width: 1920px) {
  .menu__list .list__item {
    height: 7rem;
  }

  .menu__list .menu__search {
    width: fit-content;
  }
}

/********** #LOGO **********/

.logo {
  display: inline-flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.logo__text {
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 1.5rem;
}

/********** #HEADER **********/
.header {
  display: flex;
  justify-content: space-between;
  position: relative;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .menu {
  position: absolute;
  top: 0;
  right: 0;
}

/********** #BOX **********/

.box {
  width: 100%;
  height: 100%;
  background-color: black;
}

.box--dark {
  background-color: var(--primary-color);
}

.box--white {
  background-color: var(--secondary-color-darker);
}

/********** #SVG **********/
.svg {
  width: 100%;
  height: 100%;
}

.svg--dark {
  filter: invert(0%) sepia(9%) saturate(5477%) hue-rotate(14deg) brightness(95%)
    contrast(60%);
}

.svg--golden {
  filter: invert(73%) sepia(77%) saturate(2401%) hue-rotate(3deg)
    brightness(106%) contrast(111%);
}

/********** #DECORATIONS **********/

.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decorations__item {
  position: absolute;
  width: calc(28px + 7.2vw);
  height: calc(28px + 7.2vw);
}

.decorations__garlic {
  top: 87%;
  left: 70%;
}
.decorations__leaf {
  transform: scaleX(-1);
  top: calc(56.9vw + 118px);
  left: calc(-10px - 4vw);
}
.decorations__peppers {
  transform: scaleX(-1);
  top: 45vw;
  left: 25vw;
}

.decorations__tomato {
  left: 20vw;
  bottom: calc(-31px - 2.8vw);
}

.decorations__tomato1,
.decorations__tomato2,
.decorations__tomato3,
.decorations__tomato4 {
  width: calc(16px + 1vw);
  height: calc(16px + 1vw);
}

.decorations__tomato1 {
  top: calc(16px + 51vw);
  left: 17%;
}
.decorations__tomato2 {
  top: 97.5%;
  left: 50%;
}
.decorations__tomato3 {
  top: 93%;
  left: 0%;
}
.decorations__tomato4 {
  top: calc(60px + 54vw);
  left: calc(125px + 42.6vw);
}

@media screen and (min-width: 1024px) {
  .decorations__garlic {
    top: 60%;
    left: 93%;
  }
  .decorations__leaf {
    transform: scaleX(-1);
    top: 35%;
    left: 43%;
  }
  .decorations__peppers {
    transform: scaleX(-1);
    top: 8%;
    left: 75%;
  }

  .decorations__tomato {
    left: 55%;
    top: 90%;
  }

  .decorations__tomato1,
  .decorations__tomato2,
  .decorations__tomato3,
  .decorations__tomato4 {
    width: 3vw;
    height: 3vw;
  }

  .decorations__tomato1 {
    top: 43%;
    right: -4%;
    left: auto;
  }
  .decorations__tomato2 {
    top: 15%;
    left: 50%;
  }
  .decorations__tomato3 {
    top: 60%;
    left: 45%;
  }
  .decorations__tomato4 {
    top: 90%;
    left: 90%;
  }
}

/********** #BLOCKS **********/
.block {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.block--dark {
  background-color: var(--primary-color);
}

.block--white {
  background-color: var(--secondary-color-darker);
}

.block__bg {
  width: 100%;
  height: fit-content;
}

.block__content {
  position: absolute;
  width: 90%;
  height: 95%;
}

/********** #HERO **********/
.hero {
  height: calc(25rem + 67vw);
  width: 100%;
}

.hero .header {
  position: fixed;
  background: var(--transparent-secondary-color);
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
  z-index: 3;
}

.hero__picture {
  transform: scale(-1);
}

.hero__svg {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

.hero__svg .svg {
  height: 135vw;
  /* height: 105vw; */
  transform: rotate(-90deg) translate(45%);
}

.hero__content .callout {
  position: absolute;
  margin-right: 5vw;
  bottom: 5vw;
  left: 7vw;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .hero {
    height: 67vw;
  }
  .hero .header {
    background: linear-gradient(var(--transparent-primary-color), transparent);
    box-shadow: none;
    font-size: 2vw;
    font-weight: 400;
  }
  .hero .menu {
    box-shadow: none;
  }

  .hero__picture {
    width: 60vw;
    transform: translate(-15%) scale(-1);
  }

  .hero__svg {
    background-color: var(--primary-color);
    height: 100%;
    width: 25vw;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
  }

  .hero__svg .svg {
    transform: scaleX(-1) translate(70%);
    height: 110%;
    width: 100vw;
  }

  .hero__content .callout {
    bottom: auto;
    left: 55%;
    top: 23%;
  }
}

/********** #DISH-BLOCK **********/

.dish-block .block__bg {
  position: absolute;
}

.dish-block .block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  margin: 5% 0;
  margin-top: 10%;
}

.dish-block__options {
  margin-top: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dish-block__options .card {
  margin: 7% 0;
}

.dish-block__picture2 {
  object-position: right 0rem;
}

@media screen and (min-width: 1024px) {
  .dish-block__options {
    flex-direction: row;
    justify-content: space-around;
  }
}

/********** #STATS-BLOCK **********/
.stats-block .block__bg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.stats-block .block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: static;
  margin: 5% 0;
  z-index: 1;
}

.stats-block__figures {
  margin-top: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stats-block__figures .stats {
  margin: 7% 0;
}

@media screen and (min-width: 1024px) {
  .stats-block__figures {
    flex-direction: row;
    justify-content: space-around;
  }
}

.stats-block__decorations {
  position: relative;
}

.stats-block__decorations .decorations__item {
  position: absolute;
  width: calc(42px + 10.8vw);
  height: calc(42px + 10.8vw);
}

.stats-block__decorations .decorations__garlic {
  top: 75%;
  right: 6%;
}
.stats-block__decorations .decorations__leaf {
  transform: none;
  top: 32%;
  left: 8%;
}
.stats-block__decorations .decorations__peppers {
  transform: none;
  top: 12%;
  right: 5%;
  left: auto;
}

.stats-block__decorations .decorations__tomato {
  left: 3%;
  bottom: 0%;
}

.stats-block__decorations .decorations__tomato1,
.stats-block__decorations .decorations__tomato2,
.stats-block__decorations .decorations__tomato3,
.stats-block__decorations .decorations__tomato4 {
  width: calc(24px + 1.5vw);
  height: calc(24px + 1.5vw);
}

.stats-block__decorations .decorations__tomato1 {
  top: 2.5%;
  left: 8%;
}
.stats-block__decorations .decorations__tomato2 {
  top: 95%;
  left: 85%;
}
.stats-block__decorations .decorations__tomato3 {
  top: 58%;
  left: 8%;
}
.stats-block__decorations .decorations__tomato4 {
  top: 51%;
  left: 85%;
}

@media screen and (min-width: 1024px) {
  .stats-block__decorations .decorations__item {
    width: calc(28px + 7.2vw);
    height: calc(28px + 7.2vw);
  }

  .stats-block__decorations .decorations__garlic {
    top: 76%;
    right: 6%;
  }
  .stats-block__decorations .decorations__leaf {
    transform: none;
    top: 32%;
    left: 5%;
  }
  .stats-block__decorations .decorations__peppers {
    transform: none;
    top: 5%;
    right: 7%;
    left: auto;
  }

  .stats-block__decorations .decorations__tomato {
    left: 15%;
    bottom: 0%;
    top: auto;
  }

  .stats-block__decorations .decorations__tomato1,
  .stats-block__decorations .decorations__tomato2,
  .stats-block__decorations .decorations__tomato3,
  .stats-block__decorations .decorations__tomato4 {
    width: calc(16px + 1vw);
    height: calc(16px + 1vw);
  }

  .stats-block__decorations .decorations__tomato1 {
    top: 40%;
    left: 30%;
  }
  .stats-block__decorations .decorations__tomato2 {
    top: 85%;
    left: 70%;
  }
  .stats-block__decorations .decorations__tomato3 {
    top: 90%;
    left: 40%;
  }
  .stats-block__decorations .decorations__tomato4 {
    top: 45%;
    left: 75%;
  }
}

/********** #ORIENTAL-BLOCK **********/
.oriental-block {
  height: fit-content;
}

.oriental-block__box1 {
  height: calc(93px + 41vw);
}
.oriental-block__box2 {
  height: calc(141px + 6.5vw);
}

.oriental-block__svg {
  position: absolute;
  height: 120vw;
  /* height: 100vw; */
  width: 100vw;
  transform: rotate(-90deg) scaleY(-1);
  /* transform: rotate(-90deg) scaleY(-1.2); */
}

.oriental-block .block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.oriental-block .picture {
  margin-left: 40vw;
}

.oriental-block .callout {
  margin-bottom: 10vw;
}

@media screen and (min-width: 1024px) {
  .oriental-block .block__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .oriental-block .picture {
    margin-left: 0;
    margin-top: calc(38.8vw - 226px);
  }

  .oriental-block .callout {
    margin-left: 6vw;
    margin-top: calc(40.8vw - 226px);
    margin-bottom: 0;
  }
}

/********** #GRILL-BLOCK **********/

.grill-block {
  transform: scale(-1, -1);
}

.grill-block__box1 {
  height: calc(93px + 40.9vw);
}
.grill-block__box2 {
  height: calc(141px + 6.4vw);
}

.grill-block__svg {
  position: absolute;
  height: 120vw;
  /* height: 100vw; */
  width: 100vw;
  transform: rotate(-90deg) scaleY(-1);
  /* transform: rotate(-90deg) scaleY(-1.2); */
}

.grill-block .block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.grill-block .picture {
  margin-left: 40vw;
  margin-top: 5vw;
  object-fit: cover;
  object-position: 75%;
}

.grill-block .callout {
  transform: scale(-1, -1);
}

@media screen and (min-width: 1024px) {
  .grill-block .block__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .grill-block .picture {
    margin-left: 0;
    margin-top: calc(31.8vw - 226px);
  }

  .grill-block .callout {
    margin-left: 6vw;
  }
}

/********** #COMMENT-BLOCK **********/

.comment__layer {
  background-color: rgba(255, 196, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.comment--block .info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/********** #SUBSCRIBE-BLOCK **********/
.subscribe-block {
  height: fit-content;
  padding: 20vw 0;
}

.subscribe-block .block__bg {
  position: absolute;
  height: 100%;
  width: 100%;
}

.subscribe-block .block__content {
  z-index: 1;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20vw;
}

.subscribe-block__layer {
  width: 100%;
}

.subscribe-block .info {
  width: 100%;
  margin-bottom: 5vw;
}

@media screen and (min-width: 1024px) {
  .subscribe-block .info {
    margin-bottom: 10vw;
  }
}

.subscribe-block__decorations .decorations__item {
  position: absolute;
  width: calc(28px + 7.2vw);
  height: calc(28px + 7.2vw);
}

.subscribe-block__decorations .decorations__garlic {
  top: 75%;
  left: 70%;
}
.subscribe-block__decorations .decorations__leaf {
  transform: scaleY(-1);
  top: 16%;
  left: 8%;
}
.subscribe-block__decorations .decorations__peppers {
  transform: scaleY(-1);
  top: 10vw;
  left: 75vw;
}

.subscribe-block__decorations .decorations__tomato {
  left: 25vw;
  bottom: 20vw;
}

.subscribe-block__decorations .decorations__tomato1,
.subscribe-block__decorations .decorations__tomato2,
.subscribe-block__decorations .decorations__tomato3,
.subscribe-block__decorations .decorations__tomato4 {
  width: calc(16px + 1vw);
  height: calc(16px + 1vw);
}

.subscribe-block__decorations .decorations__tomato1 {
  top: 45%;
  left: 6%;
}
.subscribe-block__decorations .decorations__tomato2 {
  top: 80%;
  left: 50%;
}
.subscribe-block__decorations .decorations__tomato3 {
  top: 90%;
  left: 15%;
}
.subscribe-block__decorations .decorations__tomato4 {
  top: 25vw;
  left: 90vw;
}

/********** #FOOTER-BLOCK **********/

.footer-block {
  height: fit-content;
  font-size: calc(15px + 0.7vw);
  padding: 5% 0;
}

.footer-block .block__bg {
  position: absolute;
}

.footer-block .block__content {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-block__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-block__info .info__title {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: calc(21px + 1.4vw);
  color: white;
  margin: 1vw 0;
}
.footer-block__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer-block__links .list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-block__links .list__title {
  font-size: calc(21px + 1.4vw);
  font-weight: normal;
  color: white;
  margin: 6vw 0 1vw;
}

.footer-block__social-media-links {
  margin-top: 1vw;
  display: flex;
}

@media screen and (min-width: 1024px) {
  .footer-block {
    height: 100vh;
  }

  .footer-block .block__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-block__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .footer-block__info {
    margin-right: 5vw;
    display: block;
    text-align: start;
  }

  .footer-block__links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: fit-content;
    white-space: nowrap;
  }
  .footer-block__links .list__title {
    margin: 0;
    margin-bottom: 1vw;
  }

  .footer-block__links .list {
    margin-left: 2vw;
    align-items: flex-start;
  }
}

/*TODO:
- Add animations.
*/
